:root {
    --background-color: #f5f5f5;
    --shadow-color: #E3E3E3;
    --border-color: #d0d0d0;
    --primary-color: #8ac1dd;
    --secondary-color: #ebe897;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: black;
}

#main {
    background-color: var(--background-color);
    height: 100%;
}

.container {
    background-color: white;
    padding: 0;
}

.slider .carousel-item {
    /* height: 460px; */
}

.carousel-item img {
    height: 320px;
    object-fit: cover;
}

.advertise {
    /* height: 380px; */
}

/* San pham */
.product-wrapper {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.product-title {
    color: white;
    padding-top: 8px;
}

.products .card {
    box-shadow: 0px 0px 2px var(--primary-color);
    position: relative;
}

.products .card:hover {
    box-shadow: 0px 0px 3px var(--secondary-color);
    transition: ease-out 0.5s;
}

.product-wrapper img {
    height: 180px;
    object-fit: cover;
    padding-top: 5px;
}

.products {
    background-color: var(--primary-color);
}

/* San pham ban chay */
.more-link_wrapper {
    display: flex;
    justify-content: center;
}

.product-wrapper {
    background-color: var(--primary-color);
}

/* San pham khuyen mai */
.card-discount {
    width: 40px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 4px;
    top: 8px;
    left: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* category */
.categories_container h4 {
    text-align: center;
    font-size: 2rem;
}

.category_img {
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

/* intro */
.intro_content_container {
    background-color: var(--background-color);
}

.intro_content {
    font-size: 1.7rem;
    text-align: justify;
}

.intro_content span {
    color: var(--primary-color);
    font-weight: bold;
}

/* guarantee */
.guarantee .col-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guarantee i {
    font-size: 6rem;
    color: var(--primary-color);
}

.guarantee span {
    font-size: 1.5rem;
}

/* end trang chu */
/* trang thanh toan */
/* info */
.payment-container {
    width: 500px;
    background-color: var(--primary-color);
    color: white;
}

.payment-block {
    font-size: 1.5rem;
    border-bottom: 1px solid var(--border-color);
}

.payment-block table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 16px;
    line-height: 30px;
}

.payment-block button {
    background-color: var(white);
}

.customer-info_wrapper>table td:first-child {
    width: 30%;
}

.customer-info_wrapper input {
    width: 100%;
    border-radius: 4px;

    border: 2px solid var(--border-color);
    outline: none;
}

/* time */
.dev-time_wrapper td {
    width: 30%;
    text-align: center;
}

.dev-time_option {
    display: block;
    border: 1px solid var(--border-color);
}


.dev-time-option:focus {
    background-color: var(--secondary-color);
    transition: ease 0.3s;
    border-color: white;
}

/* pay method */
.pay-method {
    width: 55%;
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    margin-left: 15px;
}

.note_wrapper textarea {
    width: 100%;
    resize: none;
    border-radius: 4px;
}

.pay-buttons {
    display: flex;
    justify-content: center;
}

.pay-buttons a,
button {
    border: 1px solid;
    padding: 4px;
    border-radius: 4px;
}

a.back_to_GioHang {
    background-color: white;
}